<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css" type="text/css">
    <title>Games</title>
</head>
<body>
    <%- include('./partials/header_inicio.ejs') %>

    <main>
        <section id="inicio">

            <h1>Catalogo de Jogos</h1>
    
            <% jogos.forEach((games) => { %>
                <div class="container">
                    
                    <a class="container-link" href="detalhes/<%= games.id %>">
                        <div class="container-title">
                            <h2><%= games.jogo %></h2>
                        </div>

                        <div class="container-image">
                            <img src="<%= games.imagem %>" alt="Capa do jogo">
                        </div>
                    </a>

                    <div class="container-infos">
                        <p><%= games.ano %></p>
                        <p>Plataformas: <%= games.plataforma %></p>
                        <p>Gêneros: <%= games.genero %></p>
                    </div>
                    <div class="container-btn">
                        <a href="/delete/<%= games.id %>">
                            <img class="delete-icon" src="/img/trash.svg" alt="delete-icon">
                        </a>

                        <a href="/editar/<%= games.id %>">
                            <img class="edit-icon" src="/img/pencil.svg" alt="edit-icon">
                        </a>
                    </div>
                </div>
            <% }) %>
    
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="/js/script.js"></script>
</body>
</html>